<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Curtis Buckland eldest son in the Buckland family. He is currectly getting his masters in Accounting from Carleton University in Ottawa.
     Unfortunately the entire degree will have been completed during the pandemic and he was never able to attend a single in class lesson. Although
     he enjoys spending time at home so he has not minded much.  </p>
