<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Finn is the family pet of the Buckland family. He is a 6 year old brindle Boxer dog. He loves cuddling, being chased, and tug-of-war. 
    He is a beloved family memeber and a very good dog. 
</p>
