<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div class="topnav">
          <a href="/">Lab 2</a>
          <a href="/linda">Linda</a>
          <a href="/paul">Paul</a>
          <a href="/curtis">Curtis</a>
          <a href="/sierra">Sierra</a>
          <a href="/owen">Owen</a>
          <a href="/finn">Finn</a>
        </div>
        <div class="main-content">
        {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>