<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Linda Buckland is my mother. She loves to cook, spend time with her family, and garden. As a young woman she dabbled with going to fashion school
    but now works as a highschool secretary and loves the summers off! She comes from a large Irish family that has relatives all throughout Canada.
</p>
