<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Owen Buckland is the youngest son in the Buckland family. He is the most outgoing and extroverted of all the children. He can pick up a sport
    in a day and be good at it by that night. He has recentely graduated HighSchool and is taking a gap year in 2022. He wishes to persue many
    different career paths and must decide before going to post-secondary.  
</p>
