<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Paul Buckland is my father. He was born in England and travelled to Canada with his parent when he was just 2 years old. He grew up a fun
    loving and atheltic child in Orillia, Ontario and now works as a heavy machinery mechanic just outside of Barrie. </p>
