<h1>{{title}}</h1>
<p>Welcome to the page for: {{title}} </p>
<p>Sierra Buckland is the middle child of the Buckland family and the only daughter. She is nearing the end of her second Georgian College course and
    hopes to land a full-time programming job soon after graduation. She enjoys watching movies with her family and reading classic novels as well
    as seeing friends and going out. Sierra also danced Ballet along with many other genres of dance, competitively as a child and teenager.
</p>
